body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #edf2f4;
  color: #444444;
  margin-bottom: 20px;
  font-size: 18px;
}

button {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  color: black;
  background-color: white;
  padding: 10px;
  border: 0.5px solid rgba(0,0,0,0.5);
  border-radius: 10px;
  margin-bottom: 15px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: black;
  color: white;
  transition: 0.3s;
  border: 0.5px solid grey; 
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 10px;
}

select {
  font-family: 'Inter', sans-serif;
  padding: 6px;
  border: none;
  border-radius: 4px;
  background-color: white;
}

.bold {
  font-weight: bold;
}

.error {
  color: rgb(196, 7, 7);
}

/* Navbar */
header {
  height: 120px;
  margin-top: 0;
  background-color: white;
  color: black;
}

header h1 {
  padding-top: 6px;
  margin-top: 0;
  margin-left: 10px;
}

header a:hover {
  color: white;
  background-color: black;
  transition: 0.3s;
}

.nav-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding-left: 0;
}

.nav-items li {
  list-style: none;
  border-radius: 10px;
  text-transform: uppercase;
  margin: 10px;
}

/* Article card */

.articles-list-container {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 1fr 1fr;
  row-gap: 40px;
  column-gap: 50px;
  justify-content: center;
}

.article-item-img {
  width: 100%;
  border-radius: 6px 6px 0px 0px;
}

.article-item-heading {
  height: fit-content;
  margin-bottom: 8px;
  margin-left: 4px;
  margin-right: 4px;
}

.article-details {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.article-item-detail {
  width: fit-content;
  margin-top: 4px;
}



.article-list-item {
  text-align: center;
  background-color: rgb(249, 249, 249);
  margin-left: 12px;
  margin-right: 12px;
  border-radius: 4px;
  box-shadow:  2px 6px 25px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}

.article-list-item:hover {
  box-shadow: 2px 6px 30px rgba(0,0,0,0.2);
}

.article-item-detail, .single-article-detail {
  background-color: darkslategray;
  color: white;
  font-size: 0.85rem;
  padding: 4px;
  border-radius: 4px;
}


/* Single Article */
.single-article-container {
  /* border: 1px solid grey; */
  margin: 40px;
  padding: 12px;
  background-color: white;
  border-radius: 6px;
}

.single-article-details {
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 6px;
}
.single-article-container h2 {
  margin-top: 0;
  text-align: center;
}

.single-article-img {
  width: 500px;
  display: block;
  margin: auto;
  border-radius: 6px;
}

.single-article-body {
  line-height: 1.6;
  padding: 0 80px;
  font-size: 1.25rem;
}

.article-vote-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
  text-align: center;
}

#article-votes {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  background-color: darkslategrey;
  color:white;
  padding: 5px;
  border-radius: 4px;
}

.vote-btn {
  margin-right: 5px;
}

.vote-btn:disabled {
  background-color: #cccccc;
  color: #666666;
}

/* Comments Container */
.comments-container {
  margin: 40px;
}

/* Comments Form */
.comment-form {
  margin-top: 20px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.comment-form form {
  display: flex;
  flex-direction: column;
}

.comment-form textarea {
  border-radius: 6px;
  height: 200px;
}

.comment-form button {
  margin-left: auto;
  margin-right: auto;
}

.comment-form button:disabled {
  background-color: #cccccc;
  color: #666666;
}

.add-comment-error {
  color: rgb(171, 0, 0);
}

textarea {
  resize:none;
  font-size: 1.1rem;
}

#submit-comment-btn {
  margin-top: 6px;
}


/* Comments List */
.comment-list-item {
  margin-top: 10px;
  margin-bottom: 8px;
  padding: 6px;
  background-color: #F4FAFF ;
  border-radius: 8px;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
  font-size: 1.2rem;
}

/* Comment card */
.comment-author {
  font-weight: bold;
  background-color: darkslategray;
  color: white;
  padding: 4px;
  border-radius: 4px;
  width: fit-content;
}

.comment-votes {
  text-align: center;
  text-transform: uppercase;
  background-color: darkslategray;
  color: white;
  width: fit-content;
  margin: auto;
  padding: 8px;
  border-radius: 8px;
  font-size: 0.95rem;
  font-weight: 600;
}

.comment-date {
  font-size: 0.85rem;
  padding-top: 2px;
}

.comment-body {
  padding: 10px 80px 0px 0px;
}

.comment-author, .comment-body, .comment-date {
  margin: 8px 0px;
}

.comment-vote-container{
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
  text-align: center;
}

#comment-upvote-btn {
  margin-right: 6px;
}

.comment-vote-btn {
  padding: 4px;
  border-radius: 4px;
}

.comment-vote-btn:disabled {
  background-color: #cccccc;
  color: #666666;
}

.delete-comment-btn {
  font-size: 0.9rem;
  padding: 6px;
  margin-right: 0;
  margin-left: auto;
  display: block;
}

.delete-comment-btn:hover {
  background-color: rgb(206, 1, 1);
  color: white;
  transition: 0.3s;
  border: 0.5px solid grey; 
}


/* Usercard*/
.avatar {
  height: 100px;
}

.user-card{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  border-top: 1px solid grey;
  color: rgb(69, 69, 69);
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

/* Current User */
.current-user {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.current-user-avatar {
  margin-top: 10px;
  width: 300px;
}


/* Change user */
.change-user-container ul {
  padding-left: 0;
}

.change-user-container h2 {
  text-align: center;
}

/* Topic selector */
#filter-btn {
  display: block;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  background-color: rgba(141, 161, 181, 0.5);
  font-size: 0.9rem;
}

#filter-btn:hover {
  color: white;
  transition: 0.3s;
}

.topic-selector-container {
  margin-top: 20px;
  margin-bottom: 25px;
}
.topic-selector-form {
  display: flex;
  justify-content: center;
  gap: 6px;
  align-items: center;
  margin-bottom: 10px;
}

.topic-selector-form select {
  width: fit-content;
  font-size: 1rem;
}

/* Sort By  */
.sort-by-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.sort-by-container {
  margin-bottom: 10px;
}

#sort-by-items, #order-items {
  font-size: 1rem;
}

/* Change page */
.change-page-container {
  display: flex;
  justify-content: space-between;
}

#prev-page-btn, #next-page-btn {
  margin: 12px;
  font-size: 0.85rem;
  background-color: rgba(141, 161, 181, 0.5);
  border: none;
}

#prev-page-btn:disabled {
  background-color: #cccccc;
  color: #666666;
}

/* Responsive design */

@media only screen and (max-width: 450px) {
  .nav-items {
    flex-direction: column;
    gap: 5px;
  }

  header {
    height: fit-content;
  }

  .articles-list-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    margin: 10px;
  }

  .article-list-item {
    width: 80%
  }

  .sort-by-form {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .user-card {
    flex-direction: column;
    width: auto;
  }

  .article-item-img, .single-article-img {
    max-width: 100%;
    border-radius: 6px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .comment-form {
    max-width: 100%;
  }

  .single-article-details {
    flex-wrap: wrap;
  }

  .single-article-body {
    margin-top: 10px;
    padding: 0 8px;
  }

  .single-article-detail {
    margin: 8px;
  }

  .comment-body {
    padding: 2px;
  }
}

@media only screen and (max-width: 1050px) and (min-width: 451px) {
  .articles-list-container {
    grid-template-columns: 1fr 1fr;
    column-gap: 8px;
  }

  header {
    height: fit-content;
  }

  .comment-form {
    width: fit-content;
  }

  .single-article-img {
    max-width: 100%;
  }

  .single-article-body {
    padding: 0 20px;
  }

  .comment-body {
    padding: 0
  }
}